<div class="col-7">
  <div class="mb-3">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
    <%= form_with model: Tweet.new, url: tweets_path, method: :post, local: true, class: "w-100" do |f| %>
      <%= f.text_area :body, placeholder: "What's happening?", class: "form-control w-100 tweet-input mb-4" %>
    <div class="d-flex justify-content-end">
      <%= f.submit "Post", class: "btn btn-lg btn-twitter rounded-pill" %>
    </div>
    <% end %>
    <ul>
      <% Tweet.find_each do |tweet| %>
        <li><%= tweet.body %></li>
      <% end %>
    </ul>
  </div>
<div class="col">
  Column
</div>