<aside class="col side-navbar">
  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-2 px-3" do %>
    <div class="px-2 py-2 rounded-circle">
      <%= image_tag "twitter.png", width: "32" %>
    </div>
  <% end %>
  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "home.png", width: "32" %></span>
      Home
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "magnifying-glass.png", width: "32" %></span>
      Explore
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "bell.png", width: "32" %></span>
      Notifications
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "email.png", width: "32" %></span>
      Messages
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "computer.png", width: "32" %></span>
      Grok
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "to-do-list.png", width: "32" %></span>
      Lists
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "ribbon.png", width: "32" %></span>
      Bookmarks
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "people.png", width: "32" %></span>
      Communities
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "twitter.png", width: "32" %></span>
      Premium
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-3" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "user.png", width: "32" %></span>
      Profile
    </div>
  <% end %>
  <%= link_to "#", class: "d-flex align-items-center fs-5 mb-4" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-3 position-relative" style="bottom: 3px"><%= image_tag "more-information.png", width: "32" %></span>
      More
    </div>
  <% end %>
  <div class="d-flex align-items-center fs-4 px-4 mb-3">
    <%= button_tag "Post", class: "btn btn-lg btn-twitter w-100 rounded-pill", data: { "bs-toggle": "modal", "bs-target": "#exampleModal"  } %>
  </div>
  <div class="d-flex align-items-center fs-6 px-4">
    <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "twitter-link" %>
  </div>
</aside>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close" id="close-modal-btn"></button>
      </div>
      <div class="modal-body">
        <%= render partial: "shared/tweet_form" %>
      </div>
    </div>
  </div>
</div>